body {
  font-family: comic;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

img{
  height: 160px;
  width: 130px;
  border-radius: 20px;
}

div{
  background: #f4f4f4;
  background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 16px;
  border-radius: 4px;
  box-shadow: 8px 8px #c0bebe;
}

.dark {
  background: linear-gradient(to right, #000428, #004e92);
  color: white;
}

a {
  color: greenyellow;
  text-shadow: darkblue;
  font-family: san 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 40%;
}

h1 {
  color: yellow;
}
